rabbit:
  connectionString: 'amqp://<username>:<password>@segum-statsamqp.prod.core.intra:5672/'
  consumerTag: 'rabbit-carbon-passthrough@<hostname>'
  queues:
    - verisure.statsd.statsd
    - verisure.statsd.vapitimers
  # Ack is destructive. If true, messages will be removed from the queue
  ack : false

http:
  address: 0.0.0.0:8082

graphite:
  host: localhost
  port: 2003
